@font-face {
    font-family: Tavolga;
    src: url("../fonts/TavolgaFree.ttf");
}

@font-face {
    font-family: Arial Unicode MS;
    src: url("../fonts/arial-unicode-ms.ttf");
}

body {
    margin: 0;
}

#header {
    width: 100%;
    background-color: #c7d235;
    position: fixed;
    z-index: 20;
}

#header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 33px 0;
}

.logo {
    font-size: 18px;
    font-family: "Tavolga", serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 320px 0 auto;
}

#menu {
    display: inline-block;
}

.menu_item {
    font-size: 15px;
    font-family: "Tavolga", serif;
    color: rgb(255, 255, 255);
    margin-right: 57px;
    text-decoration: none;
}

#main {
    background-image: url("../images/bg1.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 205px;
}

#main_container, #proposal-container {
    max-width: 1200px;
    margin: 0 auto;
}

#main-info {
    position: relative;
}

#tryout_strela {
    position: absolute;
    bottom: -60px;
    left: 216px;
}

#tryout {
    position: absolute;
    bottom: -68px;
    left: 268px;
}

#main_name {
    font-size: 55px;
    font-family: "Tavolga", serif;
    color: rgb(215, 168, 77);
    max-width: 510px;
    padding: 218px 0 60px 0;
    line-height: 1.182;
}

#main_text {
    max-width: 486px;
    font-size: 17px;
    font-family: "Tavolga", serif;
    color: rgb(57, 39, 3);
    line-height: 1.471;
    margin-bottom: 65px;
}

button {
    background-color: rgb(215, 168, 77);
    width: 222px;
    height: 50px;
    font-size: 17px;
    font-family: "Tavolga", serif;
    color: rgb(255, 255, 255);
    line-height: 1.471;
    border: 1px solid rgb(215, 168, 77);
    box-sizing: border-box;
}

.button {
    box-sizing: border-box;
    border: 1px solid rgb(215, 168, 77);
    padding: 5px;
    display: inline-block;
}

#yellow {
    background-color: #f1c90c;
}

#yellow_line {
    max-width: 1200px;
    margin: 0 auto;
}

.line_text {
    font-size: 20px;
    font-family: "Tavolga", serif;
    color: rgb(255, 255, 255);
    line-height: 1.75;
    padding: 60px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.line_text:not(:last-child) {
    margin-right: 130px;
}

.line_rectangle {
    background-color: rgb(215, 168, 77);
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: -1;
    left: 11px;
}


#proposal_text {
    font-size: 20px;
    font-family: "Tavolga", serif;
    color: rgb(57, 39, 3);
    line-height: 1.5;
    text-align: center;
    margin: 150px auto 110px auto;
    max-width: 690px;
    position: relative;
    z-index: 1;
}

#quote {
    position: absolute;
    left: -30px;
    top: -7px;
    z-index: -1;
}

#order {
    background-color: #fefaf3;
}

#order_container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#order_title {
    font-size: 55px;
    font-family: "Tavolga", serif;
    color: rgb(215, 168, 77);
    line-height: 1.182;
    padding-top: 100px;
    padding-bottom: 90px;
    max-width: 474px;
}

#order_form {
    border: 1px solid rgb(215, 168, 77);
    display: inline-block;
    margin-bottom: 103px;
}

#order_slogan {
    display: inline-block;
    font-size: 15px;
    font-family: "Tavolga", serif;
    color: rgb(57, 39, 3);
    line-height: 1.667;
    width: 192px;
    height: 190px;
    border-right: 1px solid rgb(215, 168, 77);
    padding: 39px 42px;
    margin: 30px auto;
    vertical-align: top;
}

#order_info {
    display: inline-block;
}

#order_info_1 {
    font-size: 20px;
    font-family: "Arial Unicode MS", serif;
    color: rgb(57, 39, 3);
    line-height: 1.25;
    max-width: 306px;
    text-align: center;
    padding: 30px 40px 40px 40px;
}

input {
    border: none;
    border-bottom: 1px solid rgb(215, 168, 77);
    background: none;
    height: 33px;
    width: 220px;
    font-size: 15px;
    font-family: "Tavolga", serif;
    line-height: 1.667;
    padding: 0 7px;
    margin: 0 0 15px 70px;
    outline: none;
}

input::placeholder {
    color: rgb(215, 168, 77);
}

#order_info .button {
    margin: 17px auto 30px 70px;
}

#order_image {
    display: inline-block;
    width: 523px;
    padding-left: 4px;
    vertical-align: bottom;
    margin-bottom: 89px;
}

#camomile {
    position: absolute;
    right: -34px;
    top: -154px;
    z-index: 2;
}

#footer {
    background-color: #9aa50c;
}

#footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

#working_time {
    display: inline-block;
    font-size: 18px;
    font-family: "Tavolga", serif;
    color: rgb(255, 255, 255);
    line-height: 3.611;
}

#license {
    display: inline-block;
    font-size: 13px;
    font-family: "Tavolga", serif;
    color: rgb(58, 62, 7);
    line-height: 5;
    padding-left: 260px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#elips {
    position: fixed;
    bottom: 18px;
    right: 18px;
    z-index: 30;
}

#arrow {
    position: fixed;
    z-index: 31;
    right: 34px;
    bottom: 41px;
}
